.popup-container {
    position: fixed;
    background-color: var(--main-color);
    top: -25px;
}

.popupEdit {
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: var(--main-color-alpha);
    position: fixed;
    width: 100%;
    height: 100%;
}

.popup-container form {
    background-color: var(--main-color);
    padding: 20px;
    margin: 0 auto;
    border: 2px solid var(--main-green);
    border-radius: 5px;
}
.popup-container p {
    margin-bottom: 10px;
}

.popDisplayNone {
    display: none;
}

.popEditForm button {
    height: 24px;
    width: 60px;
    background-color: var(--main-text-white);
    margin: 0.2rem;
}